COMPOSE_PROJECT_NAME=lazymanager

GATEWAY_PORT=8080

POSTGRES_USER=lazymanager
POSTGRES_PASSWORD=lazymanager
PEOPLE_DB=people_db
INVENTORY_DB=inventory_db

PEOPLE_APP_KEY=
INVENTORY_APP_KEY=

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

JWT_SECRET=
JWT_ISSUER=lazymanager-people-service
JWT_AUDIENCE=lazymanager
JWT_TTL_MINUTES=15
AUTH_ACCESS_COOKIE=lm_access_token
AUTH_REFRESH_COOKIE=lm_refresh_token
AUTH_CSRF_COOKIE=lm_csrf_token
AUTH_ACCESS_TTL_MINUTES=15
AUTH_REFRESH_TTL_MINUTES=10080
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax
RUN_DEMO_SEEDERS=false
