COMPOSE_PROJECT_NAME=lazymanager

GATEWAY_PORT=8080

POSTGRES_USER=lazymanager
POSTGRES_PASSWORD=lazymanager
PEOPLE_DB=people_db
INVENTORY_DB=inventory_db

PEOPLE_APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
INVENTORY_APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
